<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AssessmentTwo">
	<suite-files>
		<suite-file
			path="./src/test/resources/HeatClinicResource/suite/productverification.xml"/>
	</suite-files>
	<suite-files>
		<suite-file
			path="./src/test/resources/NinjaStoreResource/suite/productvalidation.xml"/>
	</suite-files>
</suite> <!-- Suite -->
